body {
background-color: grey;
margin: 0;
}

h1 {
color: red; 
}

.hero-section {
  background: url("https://static-cdn.jtvnw.net/jtv_user_pictures/tillyexalted-profile_banner-c8ae6678b9936d0a-480.png") 50% no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerimg {
  width: 100%;
}

.himg {
  max-width:100%;
	height:auto;
	width: 100%;
}
    @media screen and (min-width: 480px) {
   .himg {
  max-width:100%;
	min-height:30%;
	width: 100%;
}
}
